/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/vendor/cache
/vendor/bundle
*.gem
.sass-cache
Gemfile.lock
*.gemfile.lock
.rvmrc
.rbenv-version
tmp/
.DS_Store
node_modules
/.idea
